body{
    margin: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
header{
    background-color: #141010;
    width: 100vw;
    position: fixed;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px;
}
li a{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #f8f8f7;
}
.nav-links li a{
    transition: all 0.2s ease 0s;
}
.nav-links li a:hover{
    color: #7dd87d;
}
#container{
    padding-top: 15vh;
    width: 85vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#card{
    min-width: 270px;
    min-height: 140px;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 15px;
    background: #4c9173; 
    font-size: 1.2rem;
    color: #fff;
}
#container a{
    color: #000;
}

@media screen and (min-width: 1100px) {
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #card{

        margin-right: 30px;
    }
}
